#######################
# ##### ALIASES ##### #
#######################

alias l="ls -lhFG --color=always"
alias ll="ls -alhFG --color=always"
alias llr="ls -alhFGrt --color=always"
alias ls="ls --color=always"
alias mkdir="mkdir -p"
alias pd="pushd"
alias path='echo -e ${PATH//:/\\n}'
alias qs="qstat -a -u $USER -n"
alias garibaldi="ssh -Y jhdavis@garibaldi.scripps.edu"
alias vi="vim"
